div.grid {
  display: grid;
  grid-template-columns: minmax(25vw, max-content) 1fr;
  grid-gap: 3vw;
  grid-border: solid black 1px;
}
div.grid label {
  text-align: right;
  font-size: 8vw;
}
div.grid label:after {
  content: ":";
}
div.grid input {
  font-size: 8vw;
}

fieldset.group {
  width: 100%;
  margin-bottom: 2vw;
  padding: 2vw;
}
fieldset.group legend {
  padding: 1vw;
  font-size: 9vw;
  font-weight: bold;
}
