div.grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 2vw;
  grid-border: solid black 1px;
}
div.grid label {
  text-align: right;
  font-size: 5vw;
}
div.grid label:after {
  content: ":";
}
div.grid input {
  font-size: 5vw;
}

fieldset.group {
  margin-bottom: 10px;
  padding: 5px;
}
fieldset.group legend {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
