div.grid {
  display: grid;
  grid-template-columns: max-content 25vw;
  grid-gap: 3vw;
  grid-border: solid black 1px;
}
div.grid label {
  text-align: right;
  font-size: 5vw;
}
div.grid label:after {
  content: ":";
}
div.grid input {
  font-size: 5vw;
}

fieldset.group {
  width: 100%;
  margin-bottom: 2vw;
  padding: 2vw;
}
fieldset.group legend {
  padding: 2vw;
  font-size: 6vw;
  font-weight: bold;
}
